

      #container {
      display: flex;                  /* establish flex container */
      flex-direction: row;            /* default value; can be omitted */
      flex-wrap: wrap;              /* default value; can be omitted */
      justify-content: space-between; /* switched from default (flex-start, see below) */
      background-color: "#A9A9A9";
      }
      #container > div {
      width: 320px;
      height: 280x;
      border: 4px grey;
      border-style: inset;
      }

      #version {
	  float: right
      }


